name: ci


on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo add-apt-repository -y ppa:savoury1/opencv
        sudo add-apt-repository -y ppa:savoury1/ffmpeg4
        sudo apt-get update
        sudo apt-get install -y llvm-dev libclang-dev clang libopencv-dev
    - name: Build
      run: cargo build --all-targets --all-features --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run clippy
      run: cargo clippy --all-targets --all-features
